<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">

    <link rel="stylesheet" href="./styles/main.css" type="text/css">
    <title>Home Template</title>
</head>

<body>
    <!-- Navbar -->
    <%- include('../partials/nav.ejs')%>

    <!-- All store products -->
    <div id="products">
        <% for(var i=0; i < products.length; i++) { %>
            <div class="product">
                <img src="<%= products[i].productImg %>" alt="">
                <h2><%= products[i].productName %> ($<%= products[i].productPrice %>)</h2>
            </div>
        <% } %>
    </div>


    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>

    <!-- Flips the navbar up when scrolled to bottom -->
    <script src="./js/nav.js"></script>
</body>

</html>